/* Color pallet being used: https://lospec.com/palette-list/razz-candy */

/* nav {
    display: block;
  } */

body{
    background-color:hsl(40, 100%, 61%);
    font-family: "Caveat";
    color:#073467;
}


p{
    text-align: left;
    margin: 10px;
    font-size: 25px;
}

h2{
    text-align: left;
    margin: 10px;
    font-size: 30px;
}



ul{
    margin: 10px;
    text-align: left;
    padding: 5px;
    

}

a:link {
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
}

.card{
    background-color: #ea6d6d;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
}


.card-body {

    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* TODO: figure out how to apply padding to the diffrent sections */

.title-container{
    margin: 50px;
}

#About{
    padding: 5px;
}

#Skills{
    padding: 5px;

}

#Projects{
    padding: 5px;

}

#Contact{
    padding:5px
    
}

#messageForm{
    padding: 5px;
}


/* mobile style code */
@media (max-width: 600px) {
    body{
        background-color: #272744;
        color: #f2d3ab;
    }
    .card{
        width: 25%;
        background-color:#494d7e ;
    }
    .card-body{
        padding: 10px;
    }
    .title-container{
        margin: 10px;
    }
    p{
        font-size: 15px;
    }
    ul{
        font-size: 15px;
    }
    a{
        font-size: 15px;
    }
    h2{
        font-size: 20px;
    }
}
